<nav class="navbar navbar-expand-lg " style="position: sticky; top: 0px;">
    <div class="container-fluid">
      <a class="navbar-brand text-success" routerLink="/"> <i class="fa-solid fa-cart-shopping fa-bounce text-success mx-2"></i> Shop N Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <form class="d-flex" role="search">
                <input class="form-control me-2 text-success" type="search" placeholder="Search" aria-label="Search">
            </form>
          <li class="nav-item">
            <a class="nav-link active text-success" aria-current="page" routerLink="user/wishlist">Wishlist <i class=" mx-2 fa-regular fa-heart fa-fade text-danger"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" routerLink="user/cart">Cart <i class="fa-solid mx-2 text-primary fa-cart-arrow-down fa-bounce"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-success" routerLink="user/login" >Login <i class="mx-2 text-info fa-solid fa-user fa-beat"></i></a>
          </li>
        </ul>
      
      </div>
    </div>
  </nav>
