<footer class="footer text-center">
    <h4 class="text-center  text-success">Coming Soon...Stay Calm</h4>
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.bewakoof.com/t1080/men-s-black-hope-t-shirt-300994-1655813841-1.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.bewakoof.com/t1080/men-s-black-space-x-graphic-printed-oversized-t-shirt-625596-1704360081-1.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.bewakoof.com/t1080/men-s-orange-friends-memories-graphic-printed-t-shirt-628104-1703684331-1.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.bewakoof.com/t1080/men-s-pete-the-fighter-oversized-graphic-printed-t-shirt-624570-1701849030-1.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.bewakoof.com/t1080/men-s-purple-calm-down-graphic-printed-oversized-t-shirt-596119-1700550341-1.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.bewakoof.com/t1080/men-beast-within-3-0-oversized-fit-t-shirt-620155-1697028287-1.jpg" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-success p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-success" routerLink="/">shopnshop.com</a>
    </div>
    <!-- Copyright -->
  </footer>
